# Python bytecode
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environments
venv/
.env/
.envrc

# IDE/editor configs
.vscode/
.idea/
*.swp

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and misc
*.log
.DS_Store

.pybuild/
po/*/LC_MESSAGES/*.mo
