Source: pardus-lib-domain-joiner
Section: utils
Priority: optional
Maintainer: Pardus Altyapı <altyapi@pardus.org.tr>
Build-Depends: debhelper (>= 12), meson
Standards-Version: 4.6.1
Homepage: https://www.pardus.org.tr

Package: pardus-lib-domain-joiner
Architecture: all
Depends: ${misc:Depends},
         python3 (>=3.5),
         libldap2-dev,
         libsasl2-dev,
         krb5-user, 
         samba, 
         cifs-utils, 
         smbclient,
         python3-ldap,
         realmd,
         sssd,
         libsss-sudo,
         sssd-tools,
         packagekit,
         adcli,
         winbind,
         libnss-winbind,
         libpam-winbind
Description: Core library for Pardus Domain Joiner
 Pardus Domain Joiner GUI and CLI applications depends on this library  
